body   
{  
height: 130vh;  
margin-top: 90px;  
background-color: #cc0066;
background-size cover;  
font-family: Times New Roman ;  
}  

h1 {
font-size: 80px;
}

h1 {
color: #33ffff;
}

h2 {
color: #33ffff;
}

img {
  border: 3px solid #555;
}




header {  
background-color:blue;
position: fixed;  
left: 0;  
right: 0;  
top: 20px;  
height: 50px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 20px 0 black;  
}  
header * {  
display: inline-block;  
}  
header li {  
margin: 40px;  
}  
header li a {  
color:white ;
text-decoration: none;  
}  


.main-content{
font-family: 'Muli', sans-serif;
margin:0;
padding:10px;
body{
margin:0;
padding:0;
}







img {
  max-width: 100%;
}

.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  &:hover {
    background: red;
  }

 <style> 
        #clock { 
            font-size: 30px;           
            text-align: center; 
	    width: 200px;                      
            border-radius: 20px; 
        } 
    </style> 
 
  
 
     
  
    <script> 
        setInterval(showTime, 1000); 
        function showTime() { 
            let time = new Date(); 
            let hour = time.getHours(); 
            let min = time.getMinutes(); 
            let sec = time.getSeconds(); 
            am_pm = "AM"; 
  
            if (hour > 12) { 
                hour -= 12; 
                am_pm = "PM"; 
            } 
            if (hour == 0) { 
                hr = 12; 
                am_pm = "AM"; 
            } 
  
            hour = hour < 10 ? "0" + hour : hour; 
            min = min < 10 ? "0" + min : min; 
            sec = sec < 10 ? "0" + sec : sec; 
  
            let currentTime = hour + ":"  
                + min + ":" + sec + am_pm; 
  
            document.getElementById("clock") 
                .innerHTML = currentTime; 
        } 
  
        showTime(); 
    </script> 
<!---> 
.text-center {
  text-align: center;
}



